.vscode
/build*

# matrices are kind of big, don't push to git.
resources/matrices
tmp
.venv

# minted doesn't work with a different output directory.
/docs/paper/*
!/docs/paper/static
!/docs/paper/thesis.tex
!/docs/paper/ref.bib
!/docs/paper/.latexmkrc

/docs/slideshow/*
!/docs/slideshow/*.sty
!/docs/slideshow/static
!/docs/slideshow/slideshow.tex
!/docs/slideshow/ref.bib
!/docs/slideshow/.latexmkrc

/scripts/data_analysis/*.png
/scripts/data_analysis/*.pdf
