.vscode
build
# for devcontainer
build_cont
# matrices are kind of big, don't push to git.
resources/matrices
tmp
.venv

# minted doesn't work with a different output directory.
docs/paper
!docs/paper/thesis.tex
!docs/paper/ref.bib
!docs/paper/.latexmkrc